* {
  box-sizing: border-box;
}

input,
button {
  /* Resetting border, padding, and background styles */
  border: none;
  padding: 0;
  background: none;

  /* Resetting font styles */
  font-family: inherit;
  font-size: inherit;

  /* Resetting box-sizing to avoid unexpected sizing */
  box-sizing: border-box;

  /* Resetting appearance styles (for some browsers) */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Resetting cursor style */
  cursor: pointer;

  /* Resetting outline style */
  outline: none;
}

body {
  margin: 0;
}

.header {
  width: 100%;
  background-color: rgb(176, 216, 159);
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: blue;
  }

  .city {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    .location {
      display: flex;
      align-items: baseline;
      padding: 5px;

      h1 {
        margin: 0;
        font-size: 3rem;
        padding: 0 1rem;
      }

      h2 {
        margin: 0;
      }
    }
  }
}

#search-bar form {
    display: flex;
    gap: 5px;

    #city-input {
        background: #ffffff50;
        padding: 3px 5px;
        color: black;
        border-radius: 5px;
    }

    #city-submit {
        background: #000;
        border-radius: 5px;
        color: white;
        padding: 3px 5px;
    }

}