* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: default;
}

body {
  background-color: rgb(247, 251, 255);
}

input,
button {
  /* Resetting border, padding, and background styles */
  border: none;
  padding: 0;
  background: none;
  /* Resetting font styles */
  font-family: inherit;
  font-size: inherit;
  /* Resetting box-sizing to avoid unexpected sizing */
  box-sizing: border-box;
  /* Resetting appearance styles (for some browsers) */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Resetting cursor style */
  cursor: pointer;
  /* Resetting outline style */
  outline: none;
}

body {
  margin: 0;
}

.header {
  width: 100%;
  background-color: rgb(176, 216, 159);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  color: white;
  padding: 0 1rem;
}
.header .city-div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.header .city-div .location {
  display: flex;
  align-items: baseline;
  padding: 5px;
}
.header .city-div .location h1 {
  margin: 0;
  font-size: 3rem;
}
.header .city-div .location h2 {
  margin: 0;
  color: rgb(242, 242, 242);
}

#search-bar form {
  display: flex;
  gap: 5px;
}
#search-bar form #city-input {
  background: rgba(255, 255, 255, 0.3137254902);
  padding: 3px 5px;
  color: black;
  border-radius: 5px;
  position: relative;
}
#search-bar form #popup {
  position: absolute;
  z-index: 2;
  transform: translateY(100%);
  background-color: rgb(255, 250, 205);
  padding: 3px 5px;
  margin-top: 5px;
  margin-right: 1rem;
  border-radius: 5px;
  animation: fade 3s forwards 0s 1 linear;
}
@keyframes fade {
  0% {
    opacity: 100%;
    background-color: rgb(255, 104, 104);
  }
  10% {
    opacity: 100%;
    background-color: rgb(255, 104, 104);
  }
  60% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
#search-bar form #city-submit {
  background: #000;
  border-radius: 5px;
  color: white;
  padding: 3px 5px;
}

#current {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#current-weather {
  display: flex;
  height: 125px;
  column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
#current-weather #icon {
  justify-self: stretch;
  align-self: stretch;
  background-color: rgb(255, 233, 194);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 128px;
  max-width: 128px;
  min-height: 128px;
  max-height: 128px;
}
#current-weather #temp {
  font-size: 128px;
}
#current-weather #temp-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;
}
#current-weather .temp-btns {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding-top: 5px;
}
#current-weather .reverse {
  flex-direction: row-reverse;
}
#current-weather .temp-focus {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}
#current-weather .temp-unfocus {
  font-size: 3rem;
  border-radius: 50%;
  color: rgb(255, 233, 194);
  padding-left: 5px;
}
#current-weather .temp-unfocus:hover {
  font-weight: bold;
  color: rgb(255, 214, 144);
}
#current-weather #description {
  justify-self: start;
  align-self: center;
  padding-left: 5px;
}

#current-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10px;
}
#current-date .italic-text {
  font-style: italic;
}
#current-date #day-time {
  font-size: 32px;
  font-weight: 600;
  text-align: right;
}
#current-date #date {
  font-size: 20px;
}

#forecast {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
#forecast .forecast-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  min-width: 200px;
}
#forecast h3 {
  border: solid rgb(255, 233, 194) 1px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  width: 100%;
}
#forecast .full-forecast {
  width: 100%;
  padding: 10px;
  border: solid rgb(255, 233, 194) 1px;
  border-radius: 5px;
  background-color: white;
}
#forecast .forecast-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#forecast .forecast-display .icon {
  height: 64px;
  width: 64px;
  margin: 5px 0;
}
#forecast .details {
  padding: 5px 0;
}
#forecast .low {
  color: gray;
}
#forecast .sunrise,
#forecast .sunset {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 5px 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.loading {
  animation: rotate 3s infinite linear;
}

@keyframes bounce-dot {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20%);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.text-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-load {
  display: inline-block;
  font-size: inherit;
  animation: bounce-dot 1s infinite linear;
}

.dot-1 {
  animation-delay: 0s;
}

.dot-2 {
  animation-delay: 0.2s;
}

.dot-3 {
  animation-delay: 0.4s;
}

/*# sourceMappingURL=output.css.map */
