* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: rgb(247, 251, 255);
}

input,
button {
  /* Resetting border, padding, and background styles */
  border: none;
  padding: 0;
  background: none;
  /* Resetting font styles */
  font-family: inherit;
  font-size: inherit;
  /* Resetting box-sizing to avoid unexpected sizing */
  box-sizing: border-box;
  /* Resetting appearance styles (for some browsers) */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Resetting cursor style */
  cursor: pointer;
  /* Resetting outline style */
  outline: none;
}

body {
  margin: 0;
}

.header {
  width: 100%;
  background-color: rgb(176, 216, 159);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  color: white;
  padding: 0 1rem;
}
.header .city-div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.header .city-div .location {
  display: flex;
  align-items: baseline;
  padding: 5px;
}
.header .city-div .location h1 {
  margin: 0;
  font-size: 3rem;
}
.header .city-div .location h2 {
  margin: 0;
  color: rgb(242, 242, 242);
}

#search-bar form {
  display: flex;
  gap: 5px;
}
#search-bar form #city-input {
  background: rgba(255, 255, 255, 0.3137254902);
  padding: 3px 5px;
  color: black;
  border-radius: 5px;
}
#search-bar form #city-submit {
  background: #000;
  border-radius: 5px;
  color: white;
  padding: 3px 5px;
}

#current {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#current-weather {
  display: flex;
  height: 125px;
  column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
#current-weather #icon {
  justify-self: stretch;
  align-self: stretch;
  background-color: rgb(255, 233, 194);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
}
#current-weather #temp {
  font-size: 128px;
}
#current-weather #temp-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;
}
#current-weather #temp-btns {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding-top: 5px;
}
#current-weather #fahrenheit {
  font-size: 3rem;
  font-weight: bold;
}
#current-weather #celsius {
  font-size: 3rem;
  border-radius: 50%;
  color: rgb(242, 242, 242);
  padding-left: 5px;
}
#current-weather #description {
  justify-self: start;
  align-self: center;
  padding-left: 5px;
}

#current-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10px;
}
#current-date .italic-text {
  font-style: italic;
}
#current-date #day-time {
  font-size: 32px;
  font-weight: 600;
  text-align: right;
}
#current-date #date {
  font-size: 20px;
}

#forecast {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
#forecast .forecast-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  min-width: 200px;
}
#forecast h3 {
  border: solid rgb(255, 233, 194) 1px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  width: 100%;
}
#forecast .full-forecast {
  width: 100%;
  padding: 10px;
  border: solid rgb(255, 233, 194) 1px;
  border-radius: 5px;
  background-color: white;
}
#forecast .forecast-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#forecast .forecast-display .icon {
  height: 64px;
  width: 64px;
  margin: 5px 0;
}
#forecast .details {
  padding: 5px 0;
}
#forecast .low {
  color: gray;
}
#forecast .sunrise,
#forecast .sunset {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 5px 0;
}

/*# sourceMappingURL=output.css.map */
